extends ./layout/app

block contenido 
        section(class="py-5")
            h2(class="text-center text-4xl font-extrabold pt-10")=pagina


        if errores
                    div(class="max-w-md mx-auto my-10")
                        each error in errores
                            p.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold= error.msg

        form#simulationForm(action="/simulacion-credito-hipotecario" method="post")
            input(type="hidden" name="_csrf" value=csrfToken)
            br
            label(for="montoInmueble") Monto del inmueble:
            input#montoInmueble(type="number" min="0" step="0.01" required name="montoInmueble")
            br
            label(for="cuotaInicialPorcentaje") Porcentaje de cuota inicial (%):
            input#cuotaInicialPorcentaje(type="number" min="0" max="100" step="0.01" required name="cuotaInicialPorcentaje")
            br
            label(for="TEA") Tasa Efectiva Anual (TEA) (%):
            input#TEA(type="number" min="0" step="0.01" required name="TEA")
            br
            label(for="plazoMeses") Plazo (meses):
            input#plazoMeses(type="number" min="1" required name="plazoMeses")
            br
            input(type="submit"  value="Simular")

            br
        //- Área de resultados
        if typeof totalInicialInmueble !== 'undefined'
            h2 Resultados de Simulación
            p Total inicial inmueble: 
                span#cuotaInicial S/ #{cuotaInicial}
            p Total monto capital:
                span#montoCapital S/ #{montoCapital}
            p Tasa Efectiva Mensual (TEM):
                span#TEM #{TEM * 100}%
            p Pago mensual:
                span#pagoMensual S/ #{pagoMensual}
            br
            //- Área de resultados cuando se usa el script de cliente
        h2 Resultados de Simulación en línea
        p Total inicial inmueble: 
        span#cuotaInicial
        p Total monto capital:
        span#montoCapital
        p Tasa Efectiva Mensual (TEM):
        span#TEM
        p Pago mensual:
        span#pagoMensual

        